html,
body,
ul,
li,
p {
  margin: 0px;
  padding: 0px;
  list-style: none;
  font-size: 1.2rem;
  color: white;
}

body {
  background-color: rgb(8, 8, 61);
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
  text-decoration: none;
  color: rgb(8, 8, 61);
}

/*img da home -----------------------------*/

.home-img {
  padding: 25px;
}

/*header ----------------------------------*/
.header {
  background-color: white;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  font-size: 2.5rem;
  font-family: 'Mouse Memoirs', sans-serif;
}

/*footer ----------------------------------*/

.footer {
  background-color: white;
  color: rgb(8, 8, 61);
  text-align: center;
  padding: 1rem;
}

/*menu ------------------------------------*/

.menu {
  display: flex;
}

.menu li {
  margin-left: 5px;
}

.menu li a {
  display: block;
  padding: 5px;
  font-size: 0.8rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*sections --------------------------------*/

.home {
  text-align: center;
  padding: 100px;
}

.form {
  margin-left: 650px;
  padding: 100px;
}

.codigos {
  padding: 80px;
}

.contact {
  text-align: center;
  padding: 100px;
}

.quoted {
  text-align: left;
  padding: 100px;
}

.abbr {
  text-align: center;
  padding: 100px;
}

.list {
  text-align: center;
  padding: 100px;
}

/*tables ----------------------------------*/

.table {
  text-align: center;
  padding: 100px;
}

#col1 {
  background-color: darkslateblue;
}

#col2 {
  background-color: darkslateblue;
}

#col3 {
  background-color: darkslateblue;
}

p,
h3 {
  margin: 10px;
}

thead,
caption {
  background-color: cornflowerblue;
}

table,
th,
td {
  border: 1px solid rgb(62, 43, 97);
  padding: 10px;
}
