html,
body {
  background-color: rgb(8, 8, 61);
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*home -------------------------------------*/

/*tables ----------------------------------*/
#col1 {
  background-color: darkslateblue;
}

#col2 {
  background-color: darkslateblue;
}

#col3 {
  background-color: darkslateblue;
}

thead,
caption {
  background-color: cornflowerblue;
}
